/* .registration-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d1aa68;;
    border-radius: 5px;
  }
  
  .already-member-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  /* Center the submit button */
/* button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
   */
  /* Add margin and padding to the form */
  /* .registration-form-container form {
    margin: 20px;
    padding: 20px;
  } */
  
  /* Add rounded border around the form */
  /* .registration-form-container form {
    border: 1px solid #2D3A3A;
    border-radius: 5px;
  }
  
  
  .already-member-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }
  
.input-with-line{
  border: none;
  border-bottom: 1px solid black;
  outline: none;

}
  .registrationPage{

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 500px;
    background-color: #2D3A3A;

  }  */
  .register{
    width:50%;
    margin: auto;
    background-color: #2D3A3A;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5%;

  }